/* .hero img{
    max-height: 630px;
    width: 100%;
    object-fit: cover;
} */

body {
    height: 2617px;
    width: 1280px;
}
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

.hero-section {
    background-image: url("../img/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #fff;
    text-align: center;
    height: 630px;
    width: 1280px;
    padding: 0px 174px 0px 174px;
}

.hero-content h1{
    top: 150px;
    left: 486px;
    height: 246px;
    width: 616px;
    text-align: right;
    font: normal normal bold 70px/82px Raleway;
}
.hero-content p {
    top: 331px;
    left: 486px;
    width: 616px;
    height: 131px;
    text-align: right;
    font: normal normal normal 16px/25px Raleway;
    letter-spacing: 0.32px;
    opacity: 1;
}

.buttons {
    text-align: right;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: 0px;
    opacity: 1;
}

.desc-section {
    top: 630px;
    left: -9px;
    width: 1305px;
    height: 533px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0px 174px 0px 174px;
}

.desc-section h2{
    margin-top: 66px;
    margin-bottom: 18px;
    text-align: center;
    font: normal normal bold 50px/59px Raleway;
    letter-spacing: 0.5px;
    color: #000000;
    opacity: 1;
    
}

.desc-section p {
    top: 778px;
    left: 170px;
    width: 932px;
    height: 59px;
    text-align: center;
    font: normal normal normal 16px/25px Raleway;
    letter-spacing: 0.32px;
    color: #000000;
    opacity: 1;
}

.iconos {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 174px 0px 174px;
}


.iconos h4 {
    top: 947px;
    left: 175px;
    width: 295px;
    height: 50px;
    text-align: center;
    display: inline-block;

}
.iconos p {
    text-align: center;
    font: normal normal normal 16px/25px Raleway;
    letter-spacing: 0.32px;
    color: #000000;
    opacity: 1;
}

.trabajos {
    text-align: center;
    background: #17A2B8 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index:1;
}

.trabajos h2 {
    text-align: center;
    font: normal normal bold 50px/59px Raleway;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;

}
.card-body {
    background-color: white;
    color:#000000;
    width: 387px;
    height: 508px;

}